@model List<AppUser>
@using AspNetCoreIdentity.Entities;
@{
    var count = 1;
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">E-mail</th>
            <th scope="col">Roles</th>
            <th scope="col">Edit(role)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td><getUserInfo user-id="@item.Id"></getUserInfo></td>
                <td>
                    <a asp-action="AssignRole" asp-controller="Admin" asp-route-id="@item.Id" class="btn btn-primary">AddRole</a>
                </td>
            </tr>
            count++;
        }
        
    </tbody>
</table>